body {
    margin: 0px;
    overflow: hidden,
    font-family: "Raleway", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: black;
}

.link {
    width: 40px;
    height: 40px;
    border-radius: 48%;
    margin-left: 17px;
    border: 2px solid white;
}

@keyframes anim {
    to {
        background-position: 0 400%
    }
}

.link-to-menu :hover {
    border-radius: 48%;
    margin-left: -1px;
    margin-top: -1px;
    background-size: 100% 400%;
    border: 1px solid white;
    background-image: linear-gradient(to bottom, #9fc 0%, #9cf 25%, #f9c 50%, #fc9 75%, #9fc 100%);
    animation-timing-function: linear;
    animation: anim 8s infinite linear;
    transition: opacity .2s ease-out;
}

.mute {
    margin-right: 20px;
}

.icon {
    fill: #7f7f7f;
    cursor: pointer;
}

.icon :hover {
    fill: #ffffff;
}

.main {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 80%;
}

.game-container {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    width: 65%;
}

.side-container {
    background-color: black;
    width: 10%;
    height: 602px;
    border-bottom: 13px solid black;
}

.grey {
    background-color: #333;
    width: 15%
}

.game-display {
    display: flex;
    flex-wrap: wrap;
    margin-left: 175px;
    background-color: black;
    width: 428px;
    height: 428px;
}

.players {
    display: flex;
    justify-content: center;
    background-color: #000000;
    width: 441px;
    margin-left: 170px;
    margin-top: 36px;
    height: 100px;
}

.player1, .player2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 22px;
}

.player2-text, .computer {
    display: block;
    text-align: center;
    color: white;
    font-size: 23px;
}

.player1-text, .computer {
    cursor: pointer;
    font-size: 23px;
    color: white;
}

.cutted-icon {
    clip-path: polygon(50% 0%, 50% 100%, 0% 100%, 0% 0%);
}

.o-score, .x-score {
    color: white;
    font-size: 36px;
}

.player2-text {
    display: none;
}

.ties {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 1px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: white;
    font-size: 36px;
}

.swap {
    cursor: pointer;
    margin-left: 20px;
    margin-top: 18px;
}

.p1, .p2 {
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    color: grey;
    margin-top: 3px;
}

.p2 {
    display: none;
}

.p1:hover, .p2:hover {
    color: white;
}

.one-player-icon, .two-player-icon {
    fill: grey;
}

.one-player-icon:hover, .two-player-icon:hover {
    fill: white;
}

.two-player-icon {
    display: none;
}

@media screen and (max-width: 1130px) {
    .game-display, .players {
        margin-left: 66px;
    }
}

@media screen and (max-width: 900px) {
    .game-display, .players {
        margin-left: 37px;
    }
}

@media screen and (max-width: 750px) {
    .game-display {
        margin-left: 14px;
    }
    .players {
        margin-left: 0px;
    }
    .side-container {
        width: 10%;
    }
}

@media screen and (max-width: 650px) {
    .game-display, .players {
        margin-left: 110px
    }
    .players {
        padding-bottom: 42px;
    }
    .side-container {
        display: none;
    }
    .game-container {
        width: 100%;
        height: 100%;
    }
}

.element-icon {
    width: 140px;
    height: 140px;
    color: white;
    font-size: 120px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
}

.element-icon:nth-child(1), .element-icon:nth-child(4), .element-icon:nth-child(7), .element-icon:nth-child(2), .element-icon:nth-child(5), .element-icon:nth-child(8) {
    border-right: 4px solid white;
}

.element-icon:nth-child(1), .element-icon:nth-child(2), .element-icon:nth-child(3), .element-icon:nth-child(4), .element-icon:nth-child(5), .element-icon:nth-child(6) {
    border-bottom: 4px solid white;
}
